################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/EnglishLearn/v16/Server/sqlite3
/.vs/EnglishLearn/v16/TestStore/0
/.vs/EnglishLearn/v16
